@model List<SecondHandStoreApp.Models.Delivery>
@{
    ViewBag.Title = "GetSellings";
}

<div class="container">

    <div class="col-md-12">

        <ul class="breadcrumb">
            <li>
                <a href="~/Account/Edit">Edit</a>
            </li>
            <li>My orders</li>
        </ul>

    </div>

    <div class="col-md-3">
        <!-- *** CUSTOMER MENU ***
        _________________________________________________________ -->
        <div class="panel panel-default sidebar-menu">

            <div class="panel-heading">
                <h3 class="panel-title">Customer section</h3>
            </div>

            <div class="panel-body">


                <ul class="nav nav-pills nav-stacked">
                    <li class="active"> 
                        <a href="~/Users/GetOrders"><i class="fa fa-list"></i> My orders</a>
                    </li>
                    <li >
                        <a href="~/Users/GetSellings"><i class="fa fa-briefcase"></i> My sellings</a>
                    </li>
                    <li>
                        <a href="~/Account/Edit"><i class="fa fa-user"></i> My account</a>
                    </li>
                    <li>
                        <a href="~/Manage/ChangePassword"><i class="fa fa-user"></i> Change Password</a>
                    </li>
                    <li>
                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "form-inline" }))
                        {
                            @Html.AntiForgeryToken()
                            <a class="NavA" href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out"></i>Log off</a>

                        }
                    </li>
                </ul>
            </div>

        </div>
        <!-- /.col-md-3 -->
        <!-- *** CUSTOMER MENU END *** -->
    </div>

    <div class="col-md-9" id="customer-orders">
        <div class="box">
            <h1>My Ordered item</h1>

            <p class="lead">All of your items you have ordered  on one place.</p>

            <hr>

            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Date</th>
                            <th>Price</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th>@item.item.ItemName</th>
                                <td>@item.Date</td>
                                <td>@item.item.Price</td>
                                <td>                                 
                                    <span class="label label-info">In Delivery</span>                                
                                </td>
                                <td>
                                    <a href="~/StoreItems/Details/@item.itemId" class="btn btn-primary btn-sm">View</a>                                 
                                </td>
                            </tr>
                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container -->
