
@{
    ViewBag.Title = "NotSeller";
}

<div class="container">

    <div class="col-md-12">

        <ul class="breadcrumb">
            <li>
                <a href="~/Account/Edit">Edit</a>
            </li>
            <li>Become Seller </li>
        </ul>


        <div class="row" id="error-page">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="box">

                    <p class="text-center">
                        <img src="img/logo.png">
                    </p>

                    <h3>Hello there !</h3>
                    <h4 class="text-muted">Seems you havent got any selling items.</h4>

                    <p class="text-center">Dont hesitate to add your  <strong>first</strong> item on this  <strong>Store</strong> </p>

                    <p class="buttons">
                        <a href="~/Home" class="btn btn-primary"><i class="fa fa-home"></i> Go to Homepage</a>
                        <a href="~/StoreItems/create1" class="btn btn-primary"><i class="fa fa-home"></i> Sell Items</a>
                    </p>
                </div>
            </div>
        </div>


    </div>
    <!-- /.col-md-9 -->
</div>

