
@{
    ViewBag.Title = "FAQ";
}

<div class="container">

    <div class="col-md-12">
        <ul class="breadcrumb">
            <li>
                <a href="~/Home">Home</a>
            </li>
            <li>FAQ</li>
        </ul>

    </div>

    <div class="col-md-3">
        <!-- *** PAGES MENU ***
        _________________________________________________________ -->
        <div class="panel panel-default sidebar-menu">

            <div class="panel-heading">
                <h3 class="panel-title">Pages</h3>
            </div>

            <div class="panel-body">
                <ul class="nav nav-pills nav-stacked">
                    <li>
                        <a href="~/Home/AboutUs">About us</a>
                    </li>
                    <li>
                        <a href="~/Home/Contact">Contact page</a>
                    </li>
                    <li>
                        <a href="~/Home/FAQ">FAQ</a>
                    </li>

                </ul>

            </div>
        </div>

        <!-- *** PAGES MENU END *** -->


        <div class="banner">
            <a href="#">
                <img src="img/banner.jpg" alt="sales 2014" class="img-responsive">
            </a>
        </div>
    </div>

    <div class="col-md-9">


        <div class="box" id="contact">
            <h1>Frequently asked questions</h1>

            <p class="lead">Are you curious about something? Do you have some kind of problem with our products?</p>
            <p>Please feel free to contact us, our customer service center is working for you 24/7.</p>

            <hr>

            <div class="panel-group" id="accordion">

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">

                            <a data-toggle="collapse" data-parent="#accordion" href="#faq1">

                                1. When will I receive the item I bought?

                            </a>

                        </h4>
                    </div>
                    <div id="faq1" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>
                                 We will notify the seller as soon as you ordered a product.
                                 The seller has to send us the item then, we will review it for
                                 condition and then send it on to you as quick as possible.
                                 Unfortunately we have no direct influence on how quickly the seller ships.
                                 Usually you will receive your items within 1-2 weeks.

                                You can check the shipping status of your order in your user profile at any time.
                            </p>
                           
                        </div>
                    </div>
                </div>
                <!-- /.panel -->

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">

                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">

                                2. How can I best determine my price?

                            </a>

                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>
                                When determining the selling price, you should consider what you would like to earn and whether the price is realistic. Other criteria to consider include the popularity of the brand, the general demand, the item's age and condition and the type of item.
                            </p>
                            <p>
                                A price that has been set too high may be off-putting and may result in your item not being sold.
                            </p>
                            <p>
                                Our experts will always review your desired price before the item is put on sale. If they think the price is too high or too low, you will receive an email with a price suggestion. You can then decide whether you want to accept our suggested price or not.
                            </p>
                         </div>
                    </div>
                </div>
                <!-- /.panel -->


                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">

                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">

                                3. How can I best describe my item? What should the description contain?

                            </a>

                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            Your description should contain all important information, characteristics and details that can be seen. This may also include logos or an eye-catching pattern. The material and workmanship are of equal importance to interested buyers, as is information on how comfortable it is to wear and maintenance. Is the size appropriate? Do certificates of authenticity, receipts or packaging such as shoe bags or boxes exist? If yes, make sure you mention it – this increases the attractiveness of the item. Obvious signs of use or error descriptions are also to be included in the description.
                        </div>
                    </div>
                </div>
                <!-- /.panel -->

            </div>
            <!-- /.panel-group -->


        </div>


    </div>
    <!-- /.col-md-9 -->
</div>
<!-- /.container -->

