@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row" style="margin-top:60px;">
        <div class="col-md-3">
            <div class="alert alert-success">
                <a href="~/StoreItems/index"> Store Items</a>
            </div>
        </div>

        <div class="col-md-3">
            <h1> WELCOME PAGE </h1>
        </div>

        <div class="col-md-3">
            <h1> WELCOME PAGE </h1>
        </div>

        <div class="col-md-3">
            <h1> WELCOME PAGE </h1>
        </div>

        <div class="col-md-3">
            <h1> WELCOME PAGE </h1>
        </div>

        <div class="col-md-3">
            <h1> WELCOME PAGE </h1>
        </div>
        <div class="col-md-3">
            <h1> WELCOME PAGE </h1>
        </div>
        <div class="col-md-3">
            <h1> WELCOME PAGE </h1>
        </div>
        <div class="col-md-3">
            <h1> WELCOME PAGE </h1>
        </div>
        <div class="col-md-3">
            <h1> WELCOME PAGE </h1>
        </div>
    </div>
</div>

