
@{
    ViewBag.Title = "LearnMore";
}
<div class="container">

    <div class="col-md-12">
        <ul class="breadcrumb">
            <li>
                <a href="~/Home">Home</a>
            </li>
            <li>Learn More</li>
        </ul>

    </div>


    <div class="col-md-11">


        <div class="box" id="contact">
            <h1>SELLING – THIS IS HOW IT WORKS</h1>

            <hr>

            <p class="lead">QUALITY CHECK</p>
            <p>We inspect every item to ensure its quality.</p>

            <hr>
            <p class="lead">SHIPPING</p>
            <p>We will send the items to the buyer.</p>

            <hr>
            <p class="lead">PAYMENT</p>
            <p>We will transfer your earnings to your account.</p>

            <hr>


        </div>


    </div>
    <!-- /.col-md-11 -->
</div>
<!-- /.container -->
