
@{
    ViewBag.Title = "Payment FAIL";
}

<div class="container">
    <div class="box text-center">
        <h2><i class="fa fa-2x fa-check" style="color:red"></i>Payment Fail...</h2>
        <a href="/Users/GetOrders">See your orders</a>
        <br />
    </div>
</div>

