
@{
    ViewBag.Title = "Index";
}

<div class="container">

    <div class="col-md-12">
        <ul class="breadcrumb">
            <li>
                <a href="~/Home/Index">Home</a>
            </li>          
            <li>
                Admin
            </li>
            
        </ul>

    </div>
    <div class="col-md-6 col-md-offset-3">
        <div class="box text-center">
            <h3> Welcome to Admin Panel</h3>
            Send Mail Task:  <input type="checkbox" name="MailTask" checked="@ViewBag.ServiceActive">
        </div>
    </div>
    <div class="col-md-12">
        <div class="box">
            <a href="~/Admin/ListUsers" style="color:black;">
                <h2><i class="fa fa-2x fa-user"></i> - Users</h2>
            </a> 
            <br />
            <a href="~/Admin/ListStoreItems" style="color:black;">
                <h2><i class="fa fa-2x fa-file"></i> - Store Items</h2>
            </a>
         </div>
    </div>
</div>
@section Scripts{
    <link href="~/Content/bootstrap-switch/bootstrap3/bootstrap-switch.css" rel="stylesheet">
    <script src="~/Scripts/bootstrap-switch.js"></script>
    
    <script>
        $(function () {
            $("[name='MailTask']").bootstrapSwitch();
            
            $('input[name="MailTask"]').on('switchChange.bootstrapSwitch', function (event, state) {             
                //console.log(state); 
                if (state) {
                    $.get("/Admin/StartJob", function (result) {
                        console.log(result);
                    });
                } else {
                    $.get("/Admin/StopJob", function (result) {
                        console.log(result);
                    });
                }
            });

        });
    </script>
}